* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo do body será clara */
    color: #333; /* Cor da letra será cinza escuro */
    line-height: 1.6;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #006400; /* Verde escuro */
    padding: 20px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}

.agrinho-info .pequeno {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.conexao-importancia h2,
.programa-agrinho h3 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 40px;
}

.conexao-importancia p,
.programa-agrinho p {
    font-size: 1.2em;
    margin: 20px 0;
}

footer p {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
}

.botao-container {
    margin-top: 40px;
}

.saiba-mais-btn {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.saiba-mais-btn:hover {
    background-color: #004d00;
}

.informacao-adicional {
    display: none;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.informacao-adicional ul {
    text-align: left;
    margin-top: 10px;
}

.informacao-adicional li {
    margin-bottom: 10px;
}


